@model HelloCore.ViewModels.CreateOpleidingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Opleiding</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opleiding.Naam" class="control-label"></label>
                <input asp-for="Opleiding.Naam" class="form-control" />
                <span asp-validation-for="Opleiding.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opleiding.Prijs" class="control-label"></label>
                <input asp-for="Opleiding.Prijs" class="form-control" />
                <span asp-validation-for="Opleiding.Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opleiding.AantalLesuren" class="control-label"></label>
                <input asp-for="Opleiding.AantalLesuren" class="form-control" />
                <span asp-validation-for="Opleiding.AantalLesuren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="GeselecteerdeKlanten" asp-items="Model.KlantenLijst"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
