@model List<HelloCore.Models.Klant>
@{
    ViewData["Title"] = "Index";
}

<h1>Klanten</h1>
<ul>
    @foreach (var klant in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => klant.Voornaam)
            @Html.DisplayFor(modelItem => klant.Naam)
            @Html.DisplayFor(modelItem => klant.AangemaaktDatum)
        </li>
    }
</ul>